* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template: auto auto / 1fr 1fr;
}

.keyboard {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    grid-row: 2;
    grid-column: 2;
}

.hint-box {
    grid-column: 1;
    grid-row: 1;
}

.letter {
    flex: 1 1 100px;
    padding: 0.5rem;
    background: linear-gradient(135deg, rgb(255, 210, 128),rgb(199, 93, 93));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0,0,0,0.15);
    transition: 300ms;
}

.letter:active {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    transform: scale(95%);
}

.letter.inactive {
    pointer-events: none;
    cursor: none;
    background: #fff;
}

.wanted-word {
    display: flex;
    gap: 10px;
    margin: 1rem 0;
    font-size: 2rem;
}

.failure, .success {
    display: flex;
}