@keyframes animateCounterBoxFailure {
    0% {
        color: #000;
        transform: translateX(0);
    }
    20% {
        transform: translateX(10px);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        color: #ff0000;
        transform: translateX(0);
    }
}

@keyframes animateCounterBoxSuccess {
    0% {
        color: #fff;
        transform: translateX(0);
        transform: scale(100%);
    }
    100% {
        color: #2da32d;
        transform: translateX(0);
        transform: scale(101%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template: auto auto / 1fr 1fr;
}

.keyboard {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    grid-row: 2;
    grid-column: 2;
}

.hint-box {
    grid-column: 1;
    grid-row: 1;
}

.letter {
    flex: 1 1 100px;
    padding: 1rem 0.5rem;
    background: linear-gradient(135deg, rgb(250, 225, 100), rgb(204, 183, 80));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: inset 3px 5px 15px rgba(255,255,255,0.35), 3px 5px 15px rgba(0,0,0,0.15);
    transition: 300ms;
    font-size: 1.25rem;
}

.letter.inactive {
    pointer-events: none;
    cursor: none;
    filter: grayscale(100%);
    box-shadow: inset 3px 5px 15px rgba(255,255,255,0.35), 3px 5px 15px rgba(0,0,0,0.15);
}

.letter:hover {
    transform: scale(105%);
}

.letter:active {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    transform: scale(95%);
}

.wanted-word {
    display: flex;
    gap: 10px;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.failure, .success {
    display: flex;
}

.animate-wrong-answer {
    animation-name: animateCounterBoxFailure;
    animation-duration: 500ms;
}

.animate-correct-answer {
    animation-name: animateCounterBoxSuccess;
    animation-duration: 500ms;
}

svg {
            width: 300px;
            height: 400px;
        }

